body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* First Section */

.sec1 {
    background-color: #1F2937;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
/* Header Logo */
.logo {
    font-family: 'Hero', sans-serif;
    color: #F9FAF8;
    font-size: 24px;
}
/* Right Links */
a {
    color: #e5e7eb;
    text-decoration: none;
}
ul {
   font-family: 'Hero', sans-serif;
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
   gap: 16px;
   font-size: 18px;
}
/* Block Content Under Header */
.cont1 {
    display: flex;
    align-items: center;
    padding: 90px;
    justify-content: space-between;
    margin: 30px;
}
/* Left Content */
.left1 {
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}
.main {
    font-family: 'Hero', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.secondary {
    font-family: 'Hero', sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}
button {
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    color: white;
    background-color: #3882f6;
    width: 35%;
}
/* Right Content */
.right1 {
    width: 600px;
    height: 250px;
    display: flex;
    background-color: rgb(117, 115, 115);
    justify-content: center;
    align-items: center;
}
.img {
    color: rgb(192, 190, 190);
    font-family: 'robot', sans-serif;
}

/* Second Section */

.sec2 {
    display: flex;
    flex-direction: column;
}
/* Top sentence block */
.top {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
/* Block under top sentence */
.images {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* Image blocks */
.image {
    
}
/* 4 Image placeholders */
.placeholder {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}
/* Subtext under images */
.desc {
    display: block;
    padding: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Third Section */

.sec3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 0 300px;
}
/* Quote text */
.quote {
    font-size: 36px;
    font-family: 'Roboto', arial;
    font-style: italic;
    color: #1F2937;
}
/* Thor */
.thor {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}

/* Fourth Section */

.sec4 {
    background-color: #3882F6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
/* Call to action block */
.block {
    display: flex;
}
/* Call to action text */
.call {
    text-align: left;
    padding-right: 336px;
}
.call1 {
    color: white;
}
.call2 {
    color: rgb(188, 181, 181);
}
/* Button */
.second {
    text-align: right;
    padding-right: 0%;
    border: 4px solid white;
    border-radius: 10px;
    width: auto;
    height: 50px;
}

/* Footer */

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}
.footer-text {
    text-align: center;
    color: white;
}